
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info-box {
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.info-box-xs {
  font-size: 40px;
  font-weight: 300;
}

.result-box {
  width: 100%;
}
