.impressum {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.impressum > a {
  color: white;
  text-decoration: none;
}

.message {
  color: white;
  min-height: calc(100% - 40px);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-icon {
  font-size: 40px;
}

.result {
  min-height: calc(100% - 40px);
}
