.impressum {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.impressum > a {
  color: white;
  text-decoration: none;
}

:host {
  display: flex;
  flex-direction: column;
}

app-message {
  flex: 1;
}
