.recipe-item {
  padding: 5px;
}

.item-xs {
  width: 100%;
}

.item-sm {
  width: 50%;
}

.item-md {
  width: 33.333%;
}

.item-lg {
  width: 25%;
}

.item-xl {
  width: 20%;
}

.load-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
