<div class="grid-row" fxLayout="row" infiniteScroll
     infiniteScrollDistance="1"
     (scrolled)="onScroll()">
  <div class="grid-column" fxLayout="column" *ngFor="let grid of grids[4]" fxShow.lg="true" fxHide="true"
       fxFlex="25">
    <app-recipe-item class="recipe-item" *ngFor="let recipe of grid" [recipe]="recipe">
    </app-recipe-item>
  </div>
  <div class="grid-column" fxLayout="column" *ngFor="let grid of grids[3]" fxShow.md="true" fxHide="true"
       fxFlex="33.333">
    <app-recipe-item class="recipe-item" *ngFor="let recipe of grid" [recipe]="recipe">
    </app-recipe-item>
  </div>
  <div class="grid-column" fxLayout="column" *ngFor="let grid of grids[2]" fxShow.sm="true" fxHide="true" fxFlex="50">
    <app-recipe-item class="recipe-item" *ngFor="let recipe of grid" [recipe]="recipe">
    </app-recipe-item>
  </div>
  <div class="grid-column" fxLayout="column" *ngFor="let grid of grids[1]" fxShow.xs="true" fxHide="true">
    <app-recipe-item class="recipe-item" *ngFor="let recipe of grid" [recipe]="recipe">
    </app-recipe-item>
  </div>
</div>
<div class="load-button" *ngIf="showLoadMore">
  <button mat-raised-button (click)="loadMore()">Mehr laden</button>
</div>
