<ngx-masonry *ngIf="recipies" [useImagesLoaded]="true" infiniteScroll
             infiniteScrollDistance="1"
             (scrolled)="onScroll()">
  <div *ngFor="let recipe of recipies" ngClass.xs="item-xs" ngClass.sm="item-sm" ngClass.md="item-md"
       ngClass.lg="item-lg" ngClass.xl="item-xl" ngxMasonryItem>
    <div class="recipe-item">
      <app-recipe-item [recipe]="recipe">
      </app-recipe-item>
    </div>
  </div>
</ngx-masonry>
<div class="load-button" *ngIf="showLoadMore">
  <button mat-raised-button (click)="loadMore()">Mehr laden</button>
</div>
