:host {
  height: 100%;
  width: 100%;

}

#background {
  background: url('../assets/background.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
