:host {
  height: 100%;
  width: 100%;
}

::ng-deep {
  body {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
