.impressum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;
  color: white;
}

p {
  word-break: break-all;
  text-align: center;
}
