<div class="home-container">
  <div class="home">
    <app-logo centered="true"></app-logo>
    <div class="info-box" ngClass.xs="info-box-xs">
      <span>Suche deine Lieblingsrezepte. <br> Einfach. Schnell.</span>
    </div>
    <div fxLayout="row" class="centered">
      <app-search-input [(text)]="inputStr" (search)="search()" fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="50%"
                        fxFlex.lg="40%"></app-search-input>
    </div>
    <div class="graphic-helper">
      <img class="graphic" src="../../../assets/zutaten_arrow.png" src.xs="../../../assets/zutaten_arrow_xs.png">
      <img class="graphic" src="../../../assets/rezepte_arrow.png" src.xs="../../../assets/rezepte_arrow_xs.png">
    </div>
  </div>
</div>
<app-howto></app-howto>
