<div class="home-container">
  <app-like-link class="likes"></app-like-link>
  <div class="home" ngClass.xs="home-mobile">
    <app-logo centered="true"></app-logo>
    <div class="info-box" ngClass.xs="info-box-xs">
      <span>Suche deine Lieblingsrezepte. <br> Einfach. Schnell.</span>
    </div>
    <div fxLayout="row" class="centered">
      <app-search-input [(text)]="inputStr" (search)="search()" fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="50%"
                        fxFlex.lg="40%" fxFlex.xl="40%"></app-search-input>
    </div>
    <div class="graphic-helper">
      <img class="graphic" src="../../../assets/arrow4.png" fxShow="false" fxShow.gt-md="true">
      <img class="graphic" src="../../../assets/arrow1.png">
      <img class="graphic" src="../../../assets/arrow2.png">
      <img class="graphic" src="../../../assets/arrow3.png" fxShow="false" fxShow.gt-md="true">
    </div>
  </div>
  <div class="footer" ngClass.xs="footer-mobile">
    <a routerLink="impressum">Impressum</a>
  </div>
</div>
